{% extends 'layouts/auth_layout.html' %}

{% block body %}


<form method="POST" action="{{ url_for('auth.Register') }}">
    <h3>Register</h3>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" required placeholder="First Name" id="first_name">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" required placeholder="Last Name" id="last_name">


    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" required id="email">

    <label for="password">Password</label>
    <input type="password" required name="password" placeholder="Password" id="password">
    <br>
    <br>
    <button>Register</button>
    <br>
    <br>
    <a href="/login">Already Have An Account? Login</a>
</form> 

{% endblock %}